@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  /*agregado en zoom clase 17 del 11-01*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*
    box-shadow: inset -10px 0 25px gray;
*/
}

body{
    font-size: 1.4 rem;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
}

/*BARRA HEADER COMIENZO ->*/

header{
    padding: 25px 0px;
    box-shadow: 0 0 29px 0 rgb(134, 134, 134, 0.25);
    position: fixed;
    width: 100%;
    top: 0%;
    height: 15%;
    font-size: 1rem;
}

.menu-header{
    display: flex;
    justify-content: flex-end;
    line-height: 2.5;
}

ul{
    list-style: none;
}

.li-header{
    margin: 0 20px;
}

.a-header{
    cursor: pointer;
    text-decoration: none;
    color: black;
}
     
.a-header:hover{  /*efecto al pasar mouse*/
    color: #1BBF3B;
}

.boton-verde{
    background-color: #1BBF3B;
    color: white; 
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 100px;
    border: none;
    font-weight: 500;
    text-decoration: none;
}

.boton-verde:active {
    outline: none;
    border: none;
  }

/*BARRA HEADER FIN*/


/*COMIENZO HOLA SOY MICKY*/

main{
    display: flex;
    flex-direction: column;
}

.seccionholasoymicky{
    width: 100%;
    margin-top: -60px;
}

.flexRow{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 60px;
    width: 100%;
    padding: 120px 50px;  
}

.div2holasoymicky {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

.pHolaSoy{
    font-size: 2.5rem;
    font-weight: 800;
}

h1{
    font-size: 60px;
    font-weight: 900;
}

.micky{
    color: #1BBF3B;
    margin-bottom: 5px;
}

.pDesarrolladora {
    margin-bottom: 50px;
    font-size: 1rem;
}

.imgPrincipal{
      width: 45%;
   }
  
/*FIN DE HOLA SOY MICKY*/

/*evaluar si esto se queda*+++++++++++++++++++++++++++*/
.separacionhr {
    border: 0;
    height: 1px;
    background: linear-gradient(
      90deg,
      rgb(120, 132, 136) 0%,
      rgba(159, 159, 198, 1) 53%,
      rgba(55, 58, 59, 1) 100%
    );
}
/*++++++++++++++++++++++++*/

/* COMIENZO MIS CONOCIMIENTOS*/

#conocimientos {
    max-width: 1100px;
    margin: auto;
}

.seccionConocimientos {
    padding-top: 100px;
    padding-bottom: 180px;
}

.divConocimientos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    align-items: center;
    font-size: 1.4rem;
}

.h2Conocimientos {
    font-size: 45px;
    font-weight: 900;
    margin-bottom: 0.35em;
}

.pConocimientos {
    max-width: 600px;
    line-height: 1.4;
}

.divGralCardsConocimientos {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    text-align: center;
    justify-content: center;
}

.divCardsConocimientos {
    width: 260px;
    height: 228px;
    background-color: rgb(194, 206, 206);
    color: black;
    border: 1px solid rgb(194, 206, 206);
    padding: 40px;
    border-radius: 30px;
    margin: 10px;
}

.divCardsConocimientos:hover {
    border: 2px solid #1BBF3B;
    ;
}  

.iConocimientos {
    font-size: 4.71em;
}
  
.pCardsConocimientos {
    font-size: 1.25em;
    font-weight: 700;
    margin-top: 20px;
}

/* FIN MIS CONOCIMIENTOS*/

/*INICIO SECCION FRASE*/

.seccionFrase {
    width: 100%;
    margin: auto;
    height: 90vh;
}

.fondoFrase {
    background-color: #1BBF3B;
    color: white;
  }

.divFrase {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 110px;
}

.iFrase {
    font-size: 5em;
    margin-bottom: 20px;
}

.pFrase {
    font-size: 1.4rem;
    margin: 20px;
    text-align: center;
    font-weight: 400;
}

.h2Frase {
    font-size: 1.7em;
    margin-top: 20px;
    font-weight: 900;
  }


/*FORMULARIO*/

.flexColumn{
    display: flex;
    flex-direction: column;
}



.contactame{
    text-align: left;
}

/*FOOTER INICIO*/

footer{
    background-color: #1BBF3B;
}

.iconos-redes{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}

.iconos-redes ul li {
    display: inline-block;
    
    
}
.iconos-redes:hover {
 
    color:#1BBF3B;
    
}
/*FOOTER FIN*/