@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  /*agregado en zoom clase 17 del 11-01*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
/*
    box-shadow: inset -10px 0 25px gray;
*/
}

body{
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #FFFFFF;
    padding: 25px 0px;
    box-shadow: 0 0 29px 0 rgb(134, 134, 134, 0.25);
    
}

.barranav{
    padding: 5px;
    display: flex;
    justify-content: center;
  
}
.pointerheader{
    color:black;
    padding: 15px 40px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    
    /*cambiar de color al pasar cursor*/
}
.verde{
    background-color: #1BBF3B;
    color: white; 
    cursor: pointer;
    padding: 15px 40px;
    border-radius: 100px;
    font-weight: 500;
    justify-content: center;
    align-items: center;
    transition: 0,2s;
}
h1{
    font-size: 60px;
    font-weight: 900;
}
.holaSoy{
    font-size: 30px;
    font-weight: 800;
}

.micky{
    color: #1BBF3B;
}
.seccionuno{
   align-items: center;
   justify-content: space-between;
}
 .imgPrincipal{
  /*esto no se para que es, lo vi en el Original*/
    max-width: 500px;
 }


/*FORMULARIO*/

.flexColumn{
    display: flex;
    flex-direction: column;
}

.flexRow{
    display: flex;
    flex-direction: row;
}

.contactame{
    text-align: left;
}